.auth {
    min-height: 100vh;
    width: 100%;
    align-items: center;
    overflow: hidden;
}

.auth__waves {
    display: block;
    height: 12.5rem;
    flex-shrink: 0;
}

.auth__container {
    width: 100%;
    gap: 2.5rem;
}

.auth__logo {
    max-width: 11.875rem;
    width: 100%;
}

.auth__form__container {
    max-width: 20.5rem;
    width: 100%;
    justify-content: flex-start;
    gap: 1.875rem;
}

.auth__form {
    justify-content: flex-start;
    gap: 1.25rem;
    width:100%;
}

.auth__form__input {
    color: #000;
    font-family: Comfortaa;
    font-size: 0.9375rem;
    font-weight: 300;
    text-overflow: ellipsis;
    padding: 1.25rem;
    width:100%;
    border-radius: 0.3125rem;
    border: 1px solid #C7C7C7;
}

.auth__form__input::placeholder {
    color: #585858;
    font-size: 0.9375rem;
}

.auth__link {
    color: #D03664;
    font-size: 0.9375rem;
    font-weight: 700;
    text-decoration-line: underline;
    transition: all 0.25s ease-in-out;
}

.auth__link:hover {
    color: #AA2B51;
}

.auth__button {
    width:100%;
}

.auth__divider {
    justify-content: center;
    gap: 1.25rem;
    align-self: stretch;
}

.auth__divider__line {
    border: 0.0625rem solid #C7C7C7;
    width: 100%;
}

.auth__divider__text {
    color: #585858;
    font-size: 0.9375rem;
    font-weight: 300;
}

.auth__alternative {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.9375rem;
}

.auth__alternative__text {
    color: #000;
    font-size: 0.9375rem;
    font-weight: 300;
}

.auth__alternative__icon__wrapper {
    display: flex;
    align-items: center;
    gap: 1.875rem;
}

.auth__alternative__icon {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}