.auth {
    min-height: 100vh;
    width: 100%;
    align-items: start;
    overflow: hidden;
}

.header-footer {
    display: block;
    height: 12.5rem;
    flex-shrink: 0;
}

.auth-container {
    width: 100%;
    gap: 2.5rem;
}

.logo {
    max-width: 11.875rem;
    width: 100%;
    height: 2.74725rem;
    flex-shrink: 0;
}

.form-container {
    display: flex;
    max-width: 20.5rem;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
}

.form-container h1 {
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
}

.form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    width:100%;
}

.form-container form input {
    color: #000;
    font-family: Comfortaa;
    font-size: 0.9375rem;
    font-weight: 300;
    text-overflow: ellipsis;
    padding: 1.25rem;
    width:100%;
    border-radius: 0.3125rem;
    border: 1px solid #C7C7C7;
}

.form-container form input::placeholder {
    color: #585858;
    font-size: 0.9375rem;
}

.form-container form a {
    color: #D03664;
    font-size: 0.9375rem;
    font-weight: 700;
    text-decoration-line: underline;
    transition: all 0.25s ease-in-out;
}

.form-container form a:hover {
    color: #AA2B51;
}

.button {
    display: flex;
    padding: 1.25rem 1.875rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    width:100%;
    border-radius: 0.625rem;
    font-family: Comfortaa;
    font-size: 0.9375rem;
    font-weight: 700;
    transition: all 0.25s ease-in-out;
    border: 1px solid #D03664;
}

.button:hover {
    cursor: pointer;
}

.button-submit {
    background: #D03664;
    color: #FFF;
}

.button-submit:hover {
    border: 1px solid #AA2B51;
    background: #AA2B51;
}

.button-register {
    background-color: transparent;
    color: #D03664;
}

.button-register:hover {
    background: #FFEAF1;
}

.divider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    align-self: stretch;
}

.divider hr {
    border: 0.0625rem solid #C7C7C7;
    width: 100%;
}

.divider span {
    color: #585858;
    font-size: 0.9375rem;
    font-weight: 300;
}

.other-sign-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.9375rem;
}

.other-sign-in span {
    color: #000;
    font-size: 0.9375rem;
    font-weight: 300;
}

.other-sign-in div {
    display: flex;
    align-items: center;
    gap: 1.875rem;
}

.other-sign-in div img {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}