.button {
    display: flex;
    padding: 1.25rem 1.875rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    transition: all 0.25s ease-in-out;
    border-radius: 0.625rem;
    border: 1px solid #D03664;
    background: #D03664;
}

@media (max-width: 480px) {
    .button {
        padding: 1rem 1rem;
    }
}

.button__icon {
    height: 1.0625rem;
}

.buton__text {
    color: #FFF;
    white-space: nowrap;
}

.button:hover {
    cursor: pointer;
    border: 1px solid #AA2B51;
    background: #AA2B51;
}

.button_white {
    background-color: transparent;
}

.buton__text_white {
    color: #D03664;
}

.button_white:hover {
    background: #FFEAF1;
}