.catalogue-container {
    width: 14.625rem;
    height: 4.9375rem;
    position: relative;
    flex-shrink: 0;
}

.catalogue-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1.88rem;
    padding: 1.88rem;
    list-style-type: none;
    position: absolute;
    top: 0px;
    flex-shrink: 0;
    background: #FFEAF1;
    border-radius: 1.25rem 1.25rem 0rem 0rem;
    width: 10.865rem;
    transition: background-color 0.25s ease-in-out;
    overflow: hidden;
    width: 100%;
}

.catalogue-container li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.625rem;
    cursor: pointer;
    flex-shrink: 0;
    width: 100%;
}

.catalogue-button span {
    color: #000;
    font-size: 1.0625rem;
    font-weight: 500;
}

.catalogue-container li img{
    width: 1.5625rem;
}

.catalogue-container li hr{
    border: 0.0625rem solid #E1E1E1;
    width: 100%;
}

.catalogue-container li a {
    color: #000;
    font-size: 0.9375rem;
    font-weight: 300;
    text-decoration: none;
}

.catalogue-container li:hover {
    text-decoration: underline;
}

.expanded{
    background: #fff;
    border-radius: 1.25rem;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.07);
}
