.catalogue-page {
    padding: 1.88rem;
    padding-bottom: 5rem;
    gap: 1.25rem;
    align-items: start;
}

.catalogue-page__section {
    width: 100%;
    justify-content: flex-start;
}

.catalogue-page__content {
    width: 100%;
    display: grid;
    gap: 1.88rem;
    grid-template-columns: 1fr 4.4fr;
    justify-content: space-between;
    grid-template-areas:
        "header sort"
        "filters main"
}

.catalogue-page__content__header {
    font-size: 1.25rem;
    font-weight: 700;
    max-width: fit-content;
    text-transform: uppercase;
    white-space: nowrap;
    grid-area: header;
}

.sort__container{
    grid-area: sort;
    position: relative;
}

.sort {
    gap: 1.25rem;
    list-style-type: none;
    justify-content: flex-end;
}

.sort__item {
    color: #585858;
    font-size: 0.9375rem;
    font-weight: 300;
    text-decoration: underline;
    cursor: pointer;
    white-space: nowrap;
}

.sort__item_selected {
    color: #000;
    text-decoration: none;
}

.catalogue-page__main {
    grid-area: main;
    justify-self: stretch;
    width: 100%;
    gap:3.12rem;
    justify-content: flex-start;
}

.catalogue-page__main__products {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 1.88rem;
    align-items: flex-start;
    justify-content: flex-start;
}

.pagination__wrapper{
    width: 100%;
}

.pagination__button_more{
    width: fit-content;
}

@media (max-width: 1050px){
    .catalogue-page__content {
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        grid-template-areas:
            "header sort"
            "filters filters"
            "main main"
    }
    
}
@media (max-width: 800px){
    .catalogue-page__content {
        grid-template-columns: 1fr;
        justify-content: space-between;
        grid-template-areas:
            "header" 
            "sort"
            "filters"
            "main"
    }
    .sort {
        justify-content: flex-start;
    }
    
}

@media (max-width: 550px){
    .sort__container{
        height: 2.26rem;
    }
    .sort{
        position: absolute;
        flex-direction: column;
        align-items: flex-start;
        background: #fff;
        padding: 0.6rem 0;
        z-index: 3;
    }

    .sort__button{
        gap:0.62rem;
    }

    .sort__item{
        padding: 0 0.6rem ;
    }

    .sort__item_selected{
        padding: 0;
    }

    .sort__fold-icon {
        width: 0.6875rem;
        flex-shrink: 0;
        transition: all 0.1s ease-in-out;
        rotate: 180deg;
    }
    
    .sort__fold_expanded {
        rotate: 0deg;
    }
}