.catalogue {
    width: 14.625rem;
    height: 4.9375rem;
    position: relative;
    flex-shrink: 0;
}

.catalogue__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1.88rem;
    padding: 1.88rem;
    list-style-type: none;
    position: absolute;
    top: 0px;
    flex-shrink: 0;
    background: #FFEAF1;
    border-radius: 1.25rem 1.25rem 0rem 0rem;
    width: 10.865rem;
    transition: background-color 0.25s ease-in-out;
    overflow: hidden;
    width: 100%;
}

.catalogue__list_expanded{
    background: #fff;
    border-radius: 1.25rem;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.07);
}

.catalogue__list__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.625rem;
    cursor: pointer;
    flex-shrink: 0;
    width: 100%;
}

.catalogue__list__button__text {
    color: #000;
    font-size: 1.0625rem;
    font-weight: 500;
}

.catalogue__list__item__icon{
    width: 1.5625rem;
}

.catalogue__list__divider{
    border: 0.0625rem solid #E1E1E1;
    width: 100%;
}

.catalogue__list__item__text {
    color: #000;
    font-size: 0.9375rem;
    font-weight: 300;
    text-decoration: none;
}

.catalogue__list__item__text:hover {
    text-decoration: underline;
}

@media (max-width: 1050px){
    .catalogue {
        width: 100%;
        position: relative;
        flex-shrink: 0;
        position: inherit;
    }
    .catalogue__list {
        padding: 0;
        background: none;
        position: inherit;
        top:0;
        left:0;
    }
    .catalogue__list__button{
        border-radius: 1.25rem;
        background: #FFEAF1;
        width: 100%;
        padding: 1.88rem;
    }

    .catalogue__list_expanded{
        position: absolute;
        background: #FFF;
        padding: 1.88rem 1rem;
        width: 14.6rem;
        height: 100vh;
        border-radius: 0;
    }
    .catalogue__list__item__icon_back{
        width: 0.40625rem;
    }
}