.checkbox {
    gap: 0.62rem;
}

.checkbox__input {
    -webkit-appearance: none;
    appearance: none;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 0.125rem;
    border: 1px solid #585858;
    outline: none;
    cursor: pointer;
}

.checkbox__input:checked{
    background: url("../assets/images/checkboxInner.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-origin: padding-box;
    background-size: 0.625rem 0.625rem;
}

.checkbox__label {
    color: #000;
    font-size: 0.9375rem;
    font-weight: 300;
}
