.filters__container {
    grid-area: filters;
    justify-content: flex-start;
    align-items: flex-start;
}

.filters__mobile-buttons {
    justify-content: flex-start;
    gap: 1.25rem;
    width: 90vw;
    overflow-x: auto;
}

.filters {
    width: 14.625rem;
    gap: 1.88rem;
    justify-content: flex-start;
}

.filter-group {
    gap: 1.25rem;
    width: 100%;
}

.filter-group__divider {
    width: 100%;
    border: 1px solid #E1E1E1;
}

.filter-group__header {
    width: 100%;
    cursor: pointer;
}

.filter-group__header__fold-icon {
    width: 0.6875rem;
    flex-shrink: 0;
    transition: all 0.1s ease-in-out;
    rotate: 180deg;
}

.filter-group__header__fold-icon_expanded {
    rotate: 0deg;
}

.filter-group__filter-list {
    width: 100%;
    align-items: flex-start;
    gap: 0.9375rem;
    list-style-type: none;
}

.filter-list__item:hover {
    text-decoration: underline;
    cursor: pointer;
}

.filter-list__item__label {
    color: #000;
    font-size: 0.9375rem;
    font-weight: 300;
    text-decoration: none;
}

.price-range {
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding-top: 14px;
}

.price-range__slider-wrapper {
    width: 100%;
    min-height: 28px;
}

.price-range__slider {
    width: 100%;
    height: 5px;
    background: #E1E1E1;
    border-radius: 5px;
}

.price-range__slider__thumb {
    background: #fff;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #D03664;
    top: -12px;
}

.price-range__slider__thumb:focus-visible {
    outline: none;
}

.price-range__slider__track-1 {
    margin: 0 5px;
    background: #D03664;
    height: 5px;
    border-radius: 5px;
}

.price-range__form {
    width: 100%;
    gap: 0.1rem;
}

.price-range__form__input {
    padding: 0.9375rem;
    max-width: 4.62rem;
    width: fit-content;
    color: #000;
    font-family: Comfortaa;
    font-size: 0.9375rem;
    font-weight: 300;
    border-radius: 0.3125rem;
    border: 1px solid #C7C7C7;
    -moz-appearance: textfield;
}

.price-range__form__input::-webkit-outer-spin-button,
.price-range__form__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    padding: 0;
}

.price-range__form__button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    flex-shrink: 0;
}

.price-range__form__button__image {
    width: 2.375rem;
    height: 2.375rem;
}

@media (max-width: 1050px) {

    .filters__absolute__container {
        height: 92vh;
        position: fixed;
        align-items: flex-start;
        top: 4.82rem;
        left: 0;
        z-index: 3;
        gap: 1.25rem;
    }

    .filters__absolute__wrapper {
        width: 14.6rem;
        background: #fff;
        height: 100%;
    }

    .filters {
        padding: 1.88rem;
        width: 100%;
        overflow-x: auto;
    }

    .price-range__form__input {
        max-width: 3.62rem;
    }

    .filters__close {
        margin-top: 1.25rem;
        padding: 0.5rem;
        cursor: pointer;
        background: #D03664;
        border-radius: 50%;
    }

    .filters__close__icon {
        width: 1rem;
    }

    .filters__confirm-button__container {
        padding: 0.62rem;
        width: 100%;
    }

    .filters__confirm-button {
        width: 100%;
    }

    .filter__mobile__button{
        padding:1.25rem;
    }
}

@media (max-width: 700px) {
    .filters__absolute__container {
        top: 3.9rem;
    }
    .filters__mobile-buttons {
        width: 85vw;
}
}