.filter-badge {
    padding: 1.25rem;
    gap: 0.62rem;
    border-radius: 0.3125rem;
    border: 1px solid #E1E1E1;
}

.filter-badge__text {
    color: #000;
    font-size: 0.9375rem;
    font-weight: 300;
    white-space: nowrap;
}

.filter-badge__icon {
    width: 0.9375rem;
}