.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;
    flex-shrink: 0;
    overflow: hidden;
}

.footer__top-section {
    width: 100%;
    height: 16.25rem;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/images/FooterWaves2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.footer__promo__wrapper {
    align-items: center;
    justify-content: start;
    gap: 6.88rem;
}

.footer__promo {
    gap: 1.88rem;
    max-width: 45.5rem;
    width: 100%;
}

.footer__promo__header {
    color: #FFF;
    white-space: nowrap;
    flex-shrink: 0;
}

.footer__promo__form {
    gap: 0.94rem;
    max-width: 22.7rem;
    width: 100%;
}

.footer__promo__form__input {
    max-width: 18.35rem;
    width: 100%;
    text-overflow: ellipsis;
    padding: 0.94rem;
    color: #FFF;
    font-family: Comfortaa;
    font-size: 0.9375rem;
    font-weight: 300;
    border-radius: 0.625rem;
    border: 1px solid #FFF;
    background-color: rgba(255, 255, 255, 0.15);
}

.footer__promo__form__input::placeholder {
    color: #FFF;
    font-size: 0.9375rem;
    font-weight: 400;
}

.footer__promo__form__button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    width: 3rem;
    height: 3rem;
    flex-shrink: 0;
}

.footer__promo__form__button__icon {
    width: 3rem;
    height: 3rem;
}

.footer__promo__image {
    width: 21.5625rem;
}

.footer__middle-section{
    width: 100%;
    background: #AA2B51;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    align-items: center;
    justify-content: center;
    display: none;
}

.footer__bottom-section {
    width: 100%;
    background: #D03664;
    padding-top: 3.75rem;
    padding-bottom: 3.88rem;
    align-items: center;
    justify-content: center;
}

.footer__bottom {
    gap: 2.5rem;
    align-items: start;
}

.footer__bottom__top-container {
    gap: 8.69rem;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.footer__bottom__contacts__wrapper {
    width: 18.75rem;
    padding: 1.875rem;
    align-items: flex-start;
    gap: 0.9375rem;
    border-radius: 1.25rem;
    background: #AA2B51;
}

.footer__bottom__contacts__item {
    color: #FFF;
}

.footer__bottom__contacts__email {
    text-decoration: underline;
}

.footer__bottom__contacts__adress {
    color: #FFF;
    font-size: 0.9375rem;
    font-weight: 300;
}

.footer__bottom__socials {
    display: flex;
    gap: 0.94rem;
}

.footer__bottom__socials__icon {
    height: 1.25rem;
}

.footer__bottom__info__wrapper {
    align-items: flex-start;
    gap: 1.25rem;
}

.footer__bottom__info__double-container {
    display: flex;
    gap: 3.13rem;
}

.footer__bottom__info__header {
    color: #FFF;
}

.footer__bottom__info {
    align-items: flex-start;
    gap: 0.9375rem;
    list-style-type: none;
}

.footer__bottom__info__item {
    color: #FFF;
    font-size: 0.9375rem;
    font-weight: 300;
    text-decoration: none;
}

.footer__bottom__info__item:hover {
    text-decoration: underline;
}

.footer__bottom__bottom-container {
    gap: 0.62rem;
    align-items: flex-start;
}

.footer__bottom__bottom-container__copyright {
    color: #F3A8BF;
    font-size: 0.875rem;
    font-weight: 300;
}

.footer__bottom__bottom-container__paying {
    gap: 0.62rem;
}

.footer__bottom__bottom-container__paying__item {
    height: 1.875rem;
}

@media (min-width: 360px) {
    .footer__bottom__info__item {
        white-space: nowrap;
    }
}

@media (max-width: 1050px) {
    .footer__bottom__contacts__wrapper{
        padding: 0;
        width: 100%;
        background: none;
    }
    .footer__middle-section{
        display: flex;
    }
    .footer__bottom .footer__bottom__contacts__wrapper{
        display: none;
    }
    .footer__promo{
        flex-direction: column;
        gap:0.94rem;
    }

    .footer__promo__wrapper{
        gap: 1.69rem;
    }
}

@media (max-width: 780px){
    .footer__promo__image {
        display: none;
    }
}

@media (max-width: 480px) {
    

    .footer__top-section {
        background: #F99C11;
        height: 11.875rem;
    }
}