.header__background {
    width: 100%;
    max-height: 9.6875rem;
    height: fit-content;
    background: #D03664;
    position: fixed;
    z-index: 10;
}

.header {
    gap: 1.25rem;
    padding-top: 1.25rem;
}

.header_mobile {
    display: none;
}

.header .container-horisontal {
    gap: 1.88rem;
}

.header__section {
    gap: 1.25rem;
    width: 100%;
}

.header__logo {
    max-width: 8.625rem;
    width: 100%;
    cursor: pointer;
}

.header__inner__container {
    gap: 1.25rem;
}

.header a {
    transition: all 0.25s ease-in-out;
}

.header__nav__item {
    color: #FFF;
    font-size: 0.875rem;
    font-weight: 300;
    text-decoration: none;
}

.header__nav__item:hover {
    color: #FFEAF1;
    text-decoration: underline;
}

.header__phone {
    font-size: 1.0625rem;
    font-weight: 500;
    color: #FFF;
}

.header__socials__logo {
    height: 1.25rem;
}

.container-horisontal .header__language {
    gap: 0.56rem;
}

.header__language__divider {
    width: 0.0625rem;
    height: 0.9375rem;
    background: #FFEAF1;
}

.header__language__item {
    color: #FFF;
    font-size: 0.875rem;
    font-weight: 700;
    text-decoration: none;
}

.header__language__item:hover {
    color: #FFEAF1;
    text-decoration: underline;
}

.header__language__item__active {
    color: #FFC5D6;
    font-weight: 300;
    text-decoration: underline;
}

.container-horisontal .header__profile {
    gap: 0.62rem;
}

.header__profile__icon {
    height: 1.30744rem;
}

.header__profile__link {
    color: #FFF;
    font-size: 0.875rem;
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
}

.header__profile__link:hover {
    color: #FFEAF1;
}

.container-horisontal .header__list__container {
    gap: 0.44rem;
    cursor: pointer;
}

.header__list__container {
    text-decoration: none;
}

.header__list__container__icon {
    height: 1.21319rem;
}

.header__list__text {
    color: #FFF4F8;
    font-size: 0.9375rem;
    font-weight: 700;
    text-decoration: none;
}

.header__list__cart__text {
    color: #FFF4F8;
    font-size: 0.9375rem;
    font-weight: 700;
    background: #F99C11;
    padding: 0.2rem 0.5rem 0.06rem;
    border-radius: 50%;
}

.header__menu-mobile__icon{
    width: 1.875rem;
}

@media (max-width: 1300px) and (min-width: 1050px) {
    .header__socials__pc {
        display: none;
    }

    .container-horisontal .header__nav{
        gap:0.5rem;
    }

    .container-horisontal .header__container_top_right{
        gap:0.5rem;
    }

    .header .container-horisontal {
        gap: 1rem;
    }
}

@media (max-width: 1050px) {
    .header{
        display: none;
    }

    .header_mobile{
        display: flex;
        padding: 0.88rem 1.88rem;
        gap:1.88rem;
        justify-content: space-between;
        width: 100%;
    }

    .header-mobile__container{
        gap:1.88rem;
    }

    .header__logo{
        width: 8.625rem;
    }

    .search-bar{
        width: 100%;
    }
}

@media (max-width: 560px){
    .header{
        display: none;
    }

    .header_mobile{
        display: flex;
        padding: 1.25rem 1rem;
        padding-right: 2rem;
        gap:1.25rem;
        justify-content: space-between;
        width: 100%;
    }

    .header-mobile__container{
        gap:1.25rem;
    }

    .header__logo{
        width: 5.625rem;
    }

    .header__list__container{
        position: relative;
    }

    .header__list__text{
        display: none;
    }

    .header__list__cart__text{
        display: block;
        position: absolute;
        top:-0.6rem;
        right: -0.9rem;
        font-size: 0.75rem;
    }
}