.home {
    padding: 1.88rem;
    padding-bottom: 5rem;
    gap: 5rem;
    overflow: hidden;
}

.home__section {
    width: 100%;
    align-items: start;
    gap: 1.75rem;
}

.catalogue__placeholder {
    width: 14.625rem;
    flex-shrink: 0;
}

.home__short-info__section {
    align-items: center;
}

.home__short-info {
    gap: 0.94rem;
    max-width: 62.5rem;
    width: 100%;
}

.home__short-info__text {
    font-size: 0.9375rem;
    font-weight: 300;
    color:#000;
}

.home__short-info__text_folded {
    background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 1050px) {
    .catalogue__placeholder {
        display: none;
    }
}

@media (max-width: 480px) {
    .home {
        padding: 1rem;
        padding-bottom: 3.75rem;
        gap: 3.75rem;
        overflow: hidden;
    }
}
