@font-face {
    font-family: 'Comfortaa';
    src: local('Comfortaa'), url(../assets/fonts/Comfortaa/static/Comfortaa-Light.ttf) format('truetype');
}

*{
    margin: 0;
    padding: 0;
}

.container-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: Comfortaa;
}

.container-horisontal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Comfortaa;
}

.content-container{
    padding-top: 9.4375rem;
}