@font-face {
    font-family: 'Comfortaa';
    src: local('Comfortaa'), url(../assets/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Comfortaa;
}

.container-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: Comfortaa;
}

.container-horisontal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Comfortaa;
}

.main-container {
    width: 100%;
}

.content-container {
    padding-top: 9.7rem;
    width: 100%;
    z-index: 1;
}

.page-container {
    max-width: 84.385rem;
    width: 100%;
    padding: 0 1.88rem;
}

.breadcrumbs {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style-type: none;
}

.breadcrumbs__item {
    color: #D03664;
    text-transform: capitalize;
    text-decoration: none;
}

.breadcrumbs__item:hover {
    text-decoration: underline;
}

.breadcrumbs__divider {
    color: #D03664;
    font-family: Comfortaa;
    font-size: 0.9375rem;
    font-weight: 300;
}

.products-section__container {
    gap: 2.06rem;
    width: 100%;
}

.products-section__title__container {
    width: 100%;
}

.products-section__title {
    gap: 0.62rem;
}

.products-section__sale-badge {
    padding: 0.3125rem;
    border-radius: 0.625rem;
    background: #FFF0D2;
    color: #F99C11;
    font-size: 0.9375rem;
    font-weight: 700;
    text-transform: uppercase;
}

.products-section__title__icon {
    width: 1.25rem;
    height: 1.25rem;
    flex-shrink: 0;
    cursor: pointer;
}

.details {
    color: #D03664;
    font-size: 0.9375rem;
    font-weight: 700;
    text-decoration-line: underline;
    cursor: pointer;
}

.headline {
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
}

.subtitle {
    font-size: 1.0625rem;
    font-weight: 500;
}

.body-text {
    font-size: 0.9375rem;
    font-weight: 300;
}

.button-text {
    font-size: 0.9375rem;
    font-weight: 700;
}

@media (max-width: 550px) {
    .headline {
        font-size: 1.125rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    .subtitle {
        font-size: 1rem;
        font-weight: 500;
    }

    .body-text {
        font-size: 0.875rem;
        font-weight: 300;
    }

    .button-text {
        font-size: 0.875rem;
        font-weight: 700;
    }

    .details {
        font-size: 0.875rem;
    }
}

@media (max-width: 1050px) and (min-width: 700px) {
    .content-container {
        padding-top: 4.82rem;
        width: 100%;
        z-index: 1;
    }
}

@media (max-width: 700px) {
    .content-container {
        padding-top: 3.9rem;
        width: 100%;
        z-index: 1;
    }
}