@font-face {
    font-family: 'Comfortaa';
    src: local('Comfortaa'), url(../assets/fonts/Comfortaa/static/Comfortaa-Light.ttf) format('truetype');
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: Comfortaa;
}