@media (max-width: 480px) {
    .popular-brand__item__icon{
        cursor: pointer;
        width: 5.8125rem;
    }
}

@media (min-width: 480px) {
.popular-brand__item__icon{
    cursor: pointer;
    width: 9.9375rem;
}
}
