    .popular-categories {
        width: 100%;
        display: grid;
        gap: 1.88rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "carriage room bed puzzles"
            "carriage pot bed bath"
    }

    .category__wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        flex: 1 0 0;
        border-radius: 1.25rem;
        align-self: stretch;
        position: relative;
        overflow: hidden;
        cursor: pointer;
    }


    .category__text {
        padding: 0.625rem;
        color: #FFF;
        font-weight: 400;
        border-radius: 0.625rem;
        background: rgba(0, 0, 0, 0.15);
        position: absolute;
        bottom: 1.87rem;
        left: 1.87rem;
    }

    .category__wrapper:nth-child(1) {
        grid-area: carriage;
        background: linear-gradient(225deg, #6AD245 0%, #58BE34 100%);
    }

    .category__wrapper:nth-child(2) {
        grid-area: room;
        background: #F99C11;
    }

    .category__wrapper:nth-child(3) {
        grid-area: pot;
        background: linear-gradient(225deg, #2DEAE4 0%, #27D8D2 100%);
    }

    .category__wrapper:nth-child(4) {
        grid-area: bed;
        background: linear-gradient(225deg, #4F8AE2 0%, #3A73C9 100%);
    }

    .category__wrapper:nth-child(5) {
        grid-area: puzzles;
        background: linear-gradient(223deg, #D84545 0%, #CC3C3C 100%);
    }

    .category__wrapper:nth-child(6) {
        grid-area: bath;
        background: linear-gradient(225deg, #A24FE2 0%, #8E3AD0 100%);
    }


    @media (max-width: 1000px) {
        .popular-categories {
            width: 100%;
            display: grid;
            gap: 1.88rem;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
                "carriage room"
                "carriage pot"
                "puzzles bed"
                "bath bed"
        }
    }

    @media (max-width: 480px) {
        .popular-categories {
            width: 100%;
            display: grid;
            gap: 1.88rem;
            grid-template-columns: 1fr;
            grid-template-areas:
                "carriage"
                "room"
                "pot"
                "puzzles"
                "bath"
                "bed"
        }

        .category__wrapper {
            height: 11.25rem;
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            flex: 1 0 0;
            border-radius: 1.25rem;
            align-self: stretch;
            position: relative;
            overflow: hidden;
        }

        .category__image {
            width: 11rem;
            cursor: pointer;
        }
    }