.product-card {
    width: 14.6rem;
    height: 19.6rem;
    position: relative;
    z-index: 1;
}

.product-card__absolute__container {
    width: 14.6rem;
    align-items: flex-start;
    gap: 0.8125rem;
    position: absolute;
    overflow: hidden;
    border-radius: 0.3125rem;
    padding: 0.8125rem;
    padding-top: 0;
    cursor: pointer;
}

.product-card__image__container {
    width: 100%;
    border-radius: 0.625rem;
    overflow: hidden;
    position: relative;
}

.product-card__image {
    width: 100%;
}

.product-card__discount {
    padding: 0.4375rem;
    border-radius: 0.3125rem;
    background: #F99C11;
    color: #FFF;
    font-size: 0.9375rem;
    font-weight: 700;
    position: absolute;
    top: 0.63rem;
    left: 0.63rem;
}

.product-card__title {
    color: #000;
    font-size: 0.9375rem;
    font-weight: 300;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.product-card__price__container {
    gap: 0.31rem;
}

.product-card__price {
    color: #202020;
    font-size: 0.875rem;
    font-weight: 700;
}

.product-card__price__currency {
    font-weight: 300;
}

.product-card__price_old {
    text-decoration: line-through;
}

.product-card__price_new {
    color: #F99C11;
    font-size: 1.0625rem;
    font-weight: 700;
}

.product-card__buttons__container {
    opacity: 0;
    height: 0;
    gap: 0.94rem;
}

.product-card_unavaliable {
    color: #F91111;
    font-size: 0.9375rem;
    font-weight: 400;
}

.product-card__buttons__icon {
    height: 1.21319rem;
    cursor: pointer;
}

.product-card:hover {
    overflow: visible;
    z-index: 2;
}

.product-card:hover .product-card__absolute__container {
    background: #FFF;
}

.product-card:hover .product-card__buttons__container {
    opacity: 1;
    height: fit-content;
}


@media (max-width: 550px) {
    .product-card {
        width: 9.75rem;
        height: 15.6rem;
        position: relative;
        z-index: 1;
    }
    
    .product-card__absolute__container {
        width: 9.75rem;
        align-items: flex-start;
        gap: 0.8125rem;
        position: absolute;
        overflow: hidden;
        border-radius: 0.3125rem;
        padding: 0.8125rem;
        padding-top: 0;
        cursor: pointer;
    }

    .product-card__price__container{
        flex-direction: column;
        align-items: flex-start;        
    }

    .product-card__price {
        font-size: 0.75rem;
    }

    .product-card__price_new {
        font-size: 0.9375rem;
    }

    .product-card__buttons__container .product-card__buttons__icon{
        display: none;
        height: 1.21319rem;
    cursor: pointer;
    }
    
}