.search-bar{
    width: 100%;
}

.search-bar__input {
    background-image: url('/src/assets/images/search.png');
    background-position: right 0.9375rem bottom 50%;
    background-repeat: no-repeat;
    background-size: 0.9375rem;
    text-overflow: ellipsis;
    padding: 0.94rem;
    padding-right: 2.3775rem;
    width: 100%;
    color: #FFF;
    font-family: Comfortaa;
    font-size: 0.9375rem;
    font-weight: 300;
    border-radius: 0.625rem;
    border: 1px solid #FFF;
    background-color: rgba(255, 255, 255, 0.15);
}

.search-bar__input::placeholder {
    color: #FFF;
    font-size: 0.9375rem;
}

.search-bar_mobile__icon{
    display: none;
    cursor: pointer;
}


@media (max-width: 700px){
    .search-bar__input{
        display: none;
    }

    .search-bar_mobile__icon{
        display: block;
        cursor: pointer;
    }

    .search-bar__input__expanded{
        display: block;
        width: 100%;
    }
    
    .search-bar__expanded{
        position:absolute;
        top:0;
        left:0;
        padding: 0.88rem 1.88rem;
        background: #D03664;
        width: 100%;
        gap:1rem;
    }
}